{% extends 'base.html.twig' %}

{% block title %} LEs reservatiooooons {% endblock %}

{% block body %}
<div class="container">
    <h1>Mes réservations</h1>
    <div class="alert alert-info mt-5">
        <p>les réservations</p>
    </div>

    {% for booking in app.user.bookings %}
        <div class="row">
            <div class="col-4">
                <img src="{{ booking.ad.coverImage }}" alt="foto" class="img-fluid">
            </div>
            <div class="col-8">
                <h4>{{ booking.ad.title }}</h4>
                <p>
                    Réservation {{ booking.id }}<br>
                    du{{ booking.startDate|date('d/m/Y') }} au {{ booking.endDate|date('d/m/Y') }} ({{ booking.amount }} &euro;)
                </p>
                <a href="{{ path('booking_show', {'id': booking.id }) }}" class="btn btn-success">
                    plus d'info
                </a>
            </div>
        </div>

    {% endfor %}
</div>

{% endblock %}