{% extends 'base.html.twig' %}

{% block title %} Booking {{ booking.id }} {% endblock %}

{% block body %}
    {% set ad = booking.ad %}
    {% set author = ad.author %}
    <div class="container">
        <h2>Votre réservation </h2>

        {% if app.request.query.get('withAlert') %}
            <div class="alert alert-success">
                <h4> Bravo </h4>
                <p>
                    votre réservation auprès de
                    <strong>
                        <a href="{{ path('user_show', {'slug': author.slug}) }}">
                            {{ author.fisrtname }}
                        </a>
                    </strong>
                    <strong>
                        <a href="{{ path('ads_show', {'slug' : ad.slug}) }}"> pour {{ ad.title }}</a>
                    </strong>
                    a bien été prise en compte!
                </p>
            </div>
        {% endif %}
        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h2>Détails</h2>
                    <dl class="row">
                        <dt class="col-md-4">Numéro </dt>
                        <dd class="col-md-8">{{ booking.id}} </dd>
                        <dt class="col-md-4">Date d'arrivée</dt>
                        <dd class="col-md-8">{{ booking.startDate | date('d/m/Y') }}</dd>
                        <dt class="col-md-4">Date de départ</dt>
                        <dd class="col-md-8">{{ booking.endDate| date('d/m/Y') }}</dd>
                        <dt class="col-md-4">Nombre de nuits</dt>
                        <dd class="col-md-8">{{ booking.duration }}</dd>
                        <dt class="col-md-4">Montant Total</dt>
                        <dd class="col-md-8">{{ booking.amount }} &euro;</dd>
                        <dt class="col-md-4">Commentaire</dt>
                        <dd class="col-md-8">{{ booking.comment | default('nada') }}</dd>
                    </dl>
                    <hr>

                    <h2 class="alert-heading">Votre hôte</h2>
                    <div class="row mb-3">
                        <div class="col-3">
                            <img src="{{author.picture }}" alt="avatar" class="avatar-moyen">
                        </div>
                        <div class="col-9">
                            <h4>
                                <a href="{{ path("user_show", {'slug': author.slug })}}">
                                {{ author.fullname }}</a>
                            </h4>
                            <span class="badge badge-info">{{ author.ads|length}} annonces </span>
                        </div>
                    </div>
                {{ author.description|raw}}
                </div>
                <div class="alert alert-light">
                    <h2 class="alert-heading">Votre avis compte !</h2>
                    {% if date() > date(booking.endDate) %}
                       {% set comment = booking.ad.commentFromAuthor(app.user) %}
                        {% if  comment is not null %}
                            <blockquote>
                            {{ comment.content }}
                            </blockquote>
                            <strong> Note: </strong> {% include 'partials/rating.html.twig' with {'rating': comment.rating} %}
                        {%else  %}
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-success">Confirmer</button>
                            {{ form_end(form) }}
                        {% endif %}
                    {% else %}
                      On peut pas noter avant la fin du voyage
                    {% endif %}
                </div>
            </div>
            <div class="col">
                <div class="alert alert-light">
                    <h2 class="heading">Votre hébergement</h2>
                    <h4>
                        <a href="{{ path('ads_show', {'slug': ad.slug}) }}">{{ ad.title }}</a>
                    </h4>
                    <img src="{{ ad.coverImage }}" alt="fluid" class="img-fluid">
                    {{ ad.content|raw }}
                    <a href="{{ path('ads_show', {'slug': ad.slug}) }}" class="btn btn-success"> plus d'info</a>
                </div>

            </div>
        </div>

    </div>
{% endblock %}
