{% set url = path('ads_show', {'slug':ad.slug}) %}
<div class="col-md-4">
    <div class="card text-white bg-warning mb-3 "  style="max-width: 20rem;">
        <div class="card-header">{{ ad.title }}</div>
        <div class="card-body">a
            <a href="{{ url }}">
                <h4 class="card-title">{{ ad.price }} euros</h4>
            </a>
            <a href="{{ url }}">
                <p class="card-text"> {{ ad.rooms }} chambres</p>
            </a>
            <a href="{{ url }}">
                <img src="{{ ad.coverImage }}" alt="une image" style="height: 200px; width: 100%; display: block"></a>
        </div>
    </div>
</div>